Olá, <strong>{{ student }}</strong>
<br />
  <p>
    Sua dúvida enviada através do app Gympoint foi respondida por um de nossos profissionais.
    <br />
    <div style="border:1px solid black;">
      Pergunta: <strong>{{ question }}</strong>
      <br />
      Resposta: <i>{{ answer }}</i>
    </div>
</p>

<small>Caso a dúvida ainda persista, fique a vontade para enviar novamente uma mensagem a um de nossos profissionais</small>
<br />
